<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="stdout">
      <PatternLayout
        pattern="date:%d thread:%t level:%-5level className:%c{1} message:%msg%n%throwable"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- SQL execution logging is logged to the LoggerListener logger at DEBUG level -->
    <Logger level="debug" name="org.jooq.tools.LoggerListener">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- Other jOOQ related debug log output -->
    <Logger level="debug" name="org.jooq">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root additivity="true" level="DEBUG">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>